In [9]:
# Reading CSV file data
import pandas as pd
filepath = 'datafiles/income.csv'
incomedf = pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [2]:
#1 Combined Average Income of all states from 2005 to 2013
def income_of_all_states():
    s = 0
    c = 0
    li=[]
    for i in range(0,5):
        for j in range(2,11):
            s += incomedf.values[i][j]
            c+=1
        f=s/c
        li.append(f)
    avg=sum(li)//len(li)
    print(avg)
    
        #g=incomedf.values[i][1]
        #d[g]=f
        #print(incomedf.values[i][1],":",f)
        

income_of_all_states()

47314.0

In [3]:
#2 function to print highest income in last 3 years
def high_avg_income_in_last_Nyears(n):
    sum = 0
    c=0
    d={}
    for i in range(0,5):
        for j in range(-1,-n-1,-1): 
            sum += incomedf.values[i][j]
            c+=1
        #print(c)
        f=sum/c
        g=incomedf.values[i][1]
        d[g]=f
    
    #print(d)
    for i in d:
        if d[i]==max(d.values()):
            print(i,":",d[i])
            #return i
high_avg_income_in_last_Nyears(3)

Alaska : 51608.5

In [4]:
def getcolumnindex(df,columnkey):
    columnindex=0
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    
    return columnindex
getcolumnindex(incomedf,"2007")
#print(incomedf.columns)

4

In [12]:
#3 State with lowest average income from 2007 to 2010(inclusive)
col_name='State'
start_yr=getcolumnindex(incomedf,'2005')
end_yr=getcolumnindex(incomedf,'2013')
def minincome(df,row_name,start_yr,end_yr):
    values=df.values
    incomel=[]
    for i in values:
        if row_name in i:
            for j in range(start_yr,end_yr+1):
                    incomel.append(i[j])
#     print('minimum in %s'%row_name,min(incomel))
    return min(incomel)

def keysToValues(state_in):
    n_state_in={}
    for k,v in state_in.items():
        n_state_in[v]=k
    return n_state_in
def getavgofallstates(df,col_name):
    state_min={}
    colvalues=df[col_name].unique()
    for c in colvalues:
        x=minincome(df,c,start_yr,end_yr)
        state_min[c]=x
#     print(state_min)
    sorted_vals=sorted(state_min.values())
#     print(sorted_vals)
    min=sorted_vals[0]
#     print(min)
    nstate_min=keysToValues(state_min)
#     print(nstate_min)
    for k in nstate_min.keys():
        if min == k:
            print(nstate_min[k])
    return 
# average(df,'Alaska',fromind,toind)
getavgofallstates(incomedf,'State')

Arkansas

In [17]:
#4 Print the list of all states in the same line with average income lessthan California

def averageOfCalifornia(incomedf,row_name,start_yr,end_yr):
    values=incomedf.values
    sum=0
    count=0
    for i in values:
        if row_name in i:
            for j in range(start_yr,end_yr+1):
                sum=sum+i[j]
                count=count+1
    return sum/count
row_name='California'
start_yr=getcolumnindex(incomedf,'2005')
end_yr=getcolumnindex(incomedf,'2013')

avg_california=averageOfCalifornia(incomedf,row_name,start_yr,end_yr)
print("California average",avg_california)

def averageOfAllLessThanCalifornia(incomedf,avg_california,col_name):
    columns=incomedf[col_name].unique()
    state_name=[]
    state_dict={}
    for c in columns:
        if c!='California':
            x=averageOfCalifornia(incomedf,c,start_yr,end_yr)
            state_dict[c]=x
            if x<avg_california:
                state_name.append(c)
    return state_name
averageOfAllLessThanCalifornia(incomedf,avg_california,'State')

California average 55350.444444444445

['Alabama', 'Arizona', 'Arkansas']

In [19]:
# function to  Print the names of states based on descending order of income in the year 2009

def descending_order_of_income(a):
    a=getcolumnindex(incomedf,str(a))
    d={}
    for i in range(0,5):
        b=incomedf.values[i][1]
        d[b]=incomedf.values[i][a]
    #print(d)
    l=sorted(d.values())
    for i in range(-1,-len(l)-1,-1):
        for j in d:
            if d[j]==l[i]:
                print(j,end=" ")
        
        
descending_order_of_income(2009)

Alaska California Arizona Alabama Arkansas

In [ ]:
incomedf.values[0][1]
getcolumnindex(incomedf,"2009")
l=[1,9,3,5,3,7,9,5,]
print(sorted(l))

In [18]:
#6 function to print State with the lowest recorded income from 2005 to 2013
def lowest_income_state():
    a=[]
    for row in incomedf.values:
        a.append(min(row[2:]))
    #print(min(a))
    for i in range(0,5):
        for j in range(2,11):
            if incomedf.values[i][j]==min(a):
                print(incomedf.values[i][1])
lowest_income_state()

Arkansas

###Practice on Income Dataset
- Define functions for the following data points

        - Combined Average Income of all states from 2005 to 2013
            Answer = 48525
        - State with highest average income in the last three years
            Answer = Alaska
        - State with lowest average income from 2007 to 2010(inclusive)
            Answer = Arkansas
        - Print the list of all states in the same line with average income less than California
            Answer = Alabama Arizona Arkansas 
        - Print the names of states based on descending order of income in the year 2009
            Answer = Alaska California Arizona Alabama Arkansas
        - State with the lowest recorded income from 2005 to 2013
            Answer = Arkansas