In [3]:
# Function to print all combinations of pairs of integers
# [1,2,3] -> (1,2), (1,3), (2,3) -> 3C2 -> 3!/((3-2)!*2!)

# [1,2,3,4] -> (1,2), (1,3), (1,4), (2,3), (2,4), (3,4)

def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return


li=[1,2,3,4]
combinations3(li)

1 2 3
1 2 4
1 3 4
2 3 4

In [5]:
def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return


li=[1,2,3,4,5]
combinations2(li)

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

In [4]:
def medium(li):
    while(True):
        li2=differencePairs(li)
        if li2[0]==li2[1]:
            break
    if len(li2[0])>=k:
        return sorted(li2[0],reverse=True) [k-1]
    return -1


# Function to identify differences of all pairs of numbers in a given list
def differencePairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(cli)):
            diff=abs(li[i]-li[j])
            if diff not in li and diff not in newelements:
                newelements.append(diff)
    li.extend(newelements)
    return [cli,li]


li=[3,6,24]
max(li)-2+1
    

#differencePairs([1,2,3,5,9])

23

In [ ]:
with open('DataFiles/input.txt', 'r') as f:
    t = int(f.readline())
    for i in range(t):
        f.readline()
        li =  list(map(int,f.readline().split()))
        k = int(f.readline())
        print(max(li)-k+1)

In [ ]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12,15]

# convert the list into an arithmetic progression

In [3]:
def differencePairs(li):
    c = li.copy()
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return li
    
li = [2, 3, 6, 9, 12, 1, 4, 7, 10,5, 8, 11]
differencePairs(li)

[2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11]

### Set - Data structures in python

Represented by '{}' (curly braces)

In [10]:
a={1,2,4,5,6,'set'}
a.add(3) # adding an element in a set
a

b={7,8}
c=[11,-20,12,13,(15,'python')]
a.update(b,c)
a

{(15, 'python'), -20, 1, 11, 12, 13, 2, 3, 4, 5, 6, 7, 8, 'set'}

In [12]:
a.discard(b)
a

{(15, 'python'), -20, 1, 11, 12, 13, 2, 3, 4, 5, 6, 7, 8, 'set'}

In [13]:
a={1,2,5,6,8}
b={10,16,25,7,4}
a.union(b) # b.union(a)

{1, 2, 4, 5, 6, 7, 8, 10, 16, 25}

In [17]:
a={1,2,5,6,8}
b={10,16,25,7,4}

a.intersection(b)

set()

In [18]:
a.isdisjoint(b)
# if there are no common elements between a and b then returns 'True' otherwise 'False'

True

In [21]:
a={1,2,5,6,8,4,10,16}
b={10,16,25,7,4}

a-b # All elements of a which are not in b
b-a

{7, 25}

In [22]:
sorted(a)

[1, 2, 4, 5, 6, 8, 10, 16]

In [23]:
a^b
# elements either in a or in b but not in both

{1, 2, 5, 6, 7, 8, 25}

In [24]:
a|b

{1, 2, 4, 5, 6, 7, 8, 10, 16, 25}

In [25]:
a&b

{4, 10, 16}

In [26]:
li = {1,2,3,4,2,1,3,6,4,5,6,8}
u=set(li)
u

{1, 2, 3, 4, 5, 6, 8}

Procedural : C

Object oriented :  small talk, c++, java

Scripting : PHP, Python, javascript, linux shell scripting

Functional : Python, Haskell, Scala

Logic : Prolog, Lisp

In [27]:
### List Comprehensions

In [42]:
# List of N natural numbers
n=22
li=[]
for i in range(1,n+1):
    li.append(i)
    
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [30]:
li= [i for i in range(1,11+1)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [31]:
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [46]:
# Function to calculate the factorial
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
    
factorial(4)

# Apply list comprehension to calculate factorial of n natural numbers

n=5
factoriallist = [factorial(i) for i in range(1,n+1)]
factoriallist

[1, 2, 6, 24, 120]

In [58]:
# To store cumulative sum of numbers till n in the list
# n = 3 -> [1,3,6]
# n = 5 -> [1,3,6,10,15]
'''def cumulativesum(n):
    s=0
    l=[]
    for i in range(1,n+1):
        s=s+i
        l.append(s)
    print(l)
    
cumulativesum(n)'''

n=int(input())
cumulativesumlist=[sum(range(1,i+1)) for i in range(1,n+1)]
cumulativesumlist

4

[1, 3, 6, 10]

In [54]:
l={1,4,5}
a=set(l)
b=list(a)
b
type(a)

set

In [61]:
# Function to store only leap years in a given time period

st = 1970
et = 2019
leapyears=[ i for i in range(st,et+1) if i%400==0 or (i%100!=0 and i%4==0) ]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [69]:
li = [1,2,3,2,1]
li.sort()
unique=[]
u2 = []
[u2.append(i) for i in li if i not in u2]
u2

[1, 2, 3]

### Iterators

Iterable - Strings, Lists, Tuples, Sets, Dictionaries

convert Iterable to Iterator -> 


For loop:
    
    
    
Iterator:

In [75]:
it = iter('Python')
print("1:")
#print("\n")
print(next(it))
print("2:")
#print("\n")
print(next(it))

1:
P
2:
y

In [ ]:
# Generator
Generator is a function

In [92]:
def generator():
    n=2
    while True:
        n = n ** 3
        yield n
    
a=generator()


next(a)
b = next(a)**2
b*=next(a)**2
b

4722366482869645213696

In [89]:
n=2
n**=3
n

8