# Python basics
- scripting
- object-oriented
- Functional

In [1]:
print("Good afternoon","!",end="||")
print("hello world")

Good afternoon !||hello world

## Assignment

In [7]:
n=345788 # single variable assignment

n2 = n3 = n4 = n #Multi variable Assignment of same value

a,b,c =123,234,456 #Multi variable assignment of different value

print(a, b, c)

234 456

## Arthimetic operations
- +
- -
- *
- %
- /
- **

In [12]:
n % 11

n3= n2 ** 12

type(n3)
len(str(n3))


atoms=10 ** 20
len(str(atoms))
type(str(atoms))

str

## Conditionals

In [30]:
if atoms < 10 ** 9:
        print("TRUE")
else :
        print("FALSE")

FALSE

## Datatypes
- int
- float
- string

In [25]:
type(a)
s1="Python"
type(s1) 

f1=67.5 
type(f1)

float(str(int(f1)))

67.0

### even or odd

In [31]:
n=123
if n % 2 ==0:
    print("even")
else:
    print("odd")

odd

### Greatest of 3 numbers

In [ ]:
n1 = input("enter a value ")
n2 = input("enter a value ")
n3 = input("enter a value ")

if n1>n2 and n1>n3:
    print(n1+" is greatest")
elif n2>n3:
    print(n2+" is greatest")
else:
    print(n3+" is greatest")

In [ ]:
# check if a number is in given range(inclusive)
n = input("enter a value")
lb = input("enter a value")
ub = input("enter a value")
if n>=lb and n<=ub:
    print("in range")
else:
    print("out of range")

In [ ]:
## calculate the no of digits in a number

In [ ]:
n=int(input("enter value"))
c=0
while n!=0:
    n=n/10
    c=c+1
print(c)

In [ ]:
# check if a number is a multiple of 10

In [ ]:
# check if a number is factor of 1000

In [ ]:
#check if given string is equal to a number

In [ ]:
# calculate the square root of a number without functions

In [ ]:
# calculate the number of nano seconds in a given year (considering leap year logic)